body {
    background: #eee;
    color: #555;;
    }
html body {
    min-width: 500px;
    max-width: 99%;
    width: auto;
    font-size: 14px;
    }
a:link    { color: #555; }
a:visited { color: #000; }
a:active  { color: #fff; }
a:hover   { color: #333; }
div#content {
    background: #eee;
    border: 3px #000 double;
    padding-left: 10px;
}
div#footer {
    color: #000;
    font-size: 11px;
    text-align: center;
    }
div#header {
    border-bottom: 2px #000 dotted;
    color: #555;
    text-align: center;
    }
h1 { font-size: 20px; weight: bold; }
h2 { font-size: 18px; weight: bold; }
h3 { font-size: 16px; weight: bold; }
h4 { font-size: 14px; weight: bold; }
pre {
    background: #fff;
    border: 2px #000 double;
    color: #000;
    padding-left: 10px;
    font: normal normal 14px 'Courier New', Courier, FreeMono, monospace;
    }
